@media only screen and (min-width: 768px) {
  .CV-column {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    width: 33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 75%;
    margin-top: 1vh;
    vertical-align: middle;
  }

  .CV-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 65%;
  }

  .CV-table-text {
    vertical-align: middle;
    justify-content: left;
  }

  .CV-download-button {
    background-image: url("./PDF_file_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .CV-table {
    padding-left: 10%;
  }
}
