.Projects-title {
  font-size: 50px;
  text-align: center;
}

.Projects-image-container.astron {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.Projects-image-container.astron img {
  width: calc(25% - 10px);
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .Projects-content {
    padding-top: 10vh;
  }
  .Projects-content-text.election {
    padding-top: 10vh;
    max-width: 80%;
  }

  .Projects-image-container.astron img {
    width: calc(50% - 10px);
  }
  .Projects-content.astron {
    padding-top: 1vh;
  }
  .Projects-title {
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .Projects-content {
    padding-top: 10vh;
  }
  .Projects-content-text.election {
    padding-top: 10vhh;
  }
}

.Projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Projects-context-text {
  max-width: 80%;
}

.Projects-container {
  height: "100vh";
  display: "flex";
  flex-flow: "column";
}
